@import "./variables";

.main {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  background-image: url(./images/bg.jpg);

  @media screen and (max-width: $tablet-break-point) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: $third-break-point) {
    overflow: hidden;
  }

  &__heading {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &__witcher-wrapper {
    max-width: 75vw;
    margin: 0 -43px 0 -97px;
  
    @media screen and (max-width: $tablet-break-point) {
      order: 2;
      transform: scale(1.3);
    }
  
    @media screen and (max-width: $third-break-point) {
      max-width: 100vw;
      margin: 0;
    }
  
    @media screen and (max-width: 540px) {
      transform: scale(1.5);
    }
  }

  &__witcher {
    width: 100%;
    height: auto;
  }

  &__get-started {
    align-self: center;
    margin: -45px 15px 0 0;
  
    @media screen and (max-width: $tablet-break-point) {
      order: 1;
    }
  }

  &__conditions {
    position: absolute;
    bottom: 5.5%;
    right: 2.7%;
  
    font-size: 14px;
    letter-spacing: 1.35px;
    font-family: "Arial", sans-serif;
    color: #464646;
  }
  
  &__logo {
    position: absolute;
    bottom: 5.3%;
    left: 3.7%;
  
    width: 214px;
    height: 60px;
  
    @media screen and (max-width: $third-break-point) {
      width: 80px;
      height: 22px;
    }
  }
}
