
$white-color: #fff;
$grey-color: rgb(70, 70, 70);

//time 

$transition-duration: 0.3s;

// screen size

$first-break-point: 1300px;
$tablet-break-point: 1025px;
$third-break-point: 930px;
$smartphone-break-point: 560px;
