@font-face {
  font-family: "Cambria";
  src: url("./fonts/cambriab.ttf");
  src: url("./fonts/cambria.ttc");
  src: url("./fonts/cambriab.ttf");
  font-style: normal;
  font-weight: normal;
}

@import "./styles/main.scss";
@import "./styles/get-started.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "Arial", sans-serif;
}
